@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.profile-left {
    box-shadow: 0 2px 8px 0 #a04141;
    border-radius: 5px;
    padding-top: 20px;
    margin-top: 20px;
    padding: 8px;
}
.profile-left h1 {
    color:  rgb(2, 203, 176);
}
.profile-left p {
 background-color: aqua;
 
}

.box p{
    border: solid 2px rgb(111, 15, 121);
    text-align: justify; /*untuk menambahkan spasi antar kalimat*/
    padding: 20px; /*memberikan jarak antara teks dan batas*/
}
img {
    width: 100%;
    max-width: 60%;
}